<div class="flexWrapper">
<div class="aside">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <i class="rounded-icon">INSP</i>
          </div>
          <div class="row-content">
            <div class="action-secondary">
              <!--"pinned" class goes here-->
              <i class="material-icons action-pinned">star</i>
              <i class="material-icons">star_border</i>
            </div>
            <p class="list-group-item-text">3D Machine Company Inc.</p>
            <h4 class="list-group-item-heading">INSP-07112017-108000</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <hr>
      </div>

      <app-widget [widgets]="leftBlocks" [commonData]="widgetsDataContainer?.data"></app-widget>  
    </div>
  </div>
</div>

<div class="central-col">
    <div class="panel panel-primary panel-nopadding hideTableHeader">
        <div class="panel-heading">Latest Activities</div>
        <div class="panel-body">
            <div id="ctl00_body_ctl02_ctl07_EventDetails_ctl41_ctl00">
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="">&nbsp;</th>
                        </tr>
                        <tr class="item listgroup">
                            <td colspan="1000" class="listcell">
                                <div class="groupTitle">
                                    This Year
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        System Root

                                        retrieved SR info
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 20</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        System Root

                                        retrieved SR info
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 20</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        confirmed
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        edited target date
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        edited
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        retrieved SR info
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        edited scoping info
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        edited target date
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="item">
                            <td class="listcell">
                                <div class="row">
                                    <div class="col-sm-9">
                                        Ron Penserga

                                        event created by SRF
                                    </div>
                                    <div class="col-sm-3 text-right mute">Jul 11</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="aside">
  <div class="panel panel-default">
    <div class="panel-body">
      <app-widget [widgets]="rightBlocks" [commonData]="widgetsDataContainer?.data"></app-widget>
    </div>
  </div>
</div>

</div>